04-Appointment-management/appointment-management-with-cal.json
{
  "name": "appointment-management-with-cal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agendar-cita",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        576
      ],
      "id": "eeb8b738-ab5d-4e5b-b3d2-792e98561775",
      "name": "Webhook",
      "webhookId": "3464d69f-88f2-4fd9-a3b4-2ce5d4ac3634"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MXk25nlIbaN0mD2mPRcXD6ANsuIlj6sJ96dqk2siIPE",
          "mode": "list",
          "cachedResultName": "Copia de control-citas-cal\n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MXk25nlIbaN0mD2mPRcXD6ANsuIlj6sJ96dqk2siIPE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nb6erzGmqXatEGTKlSh1kkQicayjH7RloG4tmQjggIY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.nombre }}",
            "Email": "={{ $json.email }}",
            "Descripcion de la Cita": "={{ $json.descripcion }}",
            "Dia Inicio Cita": "={{ $json['dia-inicio'] }}",
            "Hora Inicio Cita": "={{ $json['hora-inicio'] }}",
            "Dia Fin Cita": "={{ $json['dia-fin'] }}",
            "Hora Fin Cita": "={{ $json['hora-fin'] }}",
            "Telefono": "=+ {{ $json.telefono }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Descripcion de la Cita",
              "displayName": "Descripcion de la Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dia Inicio Cita",
              "displayName": "Dia Inicio Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora Inicio Cita",
              "displayName": "Hora Inicio Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dia Fin Cita",
              "displayName": "Dia Fin Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora Fin Cita",
              "displayName": "Hora Fin Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        976
      ],
      "id": "d5ac5acf-64d8-46d7-87d0-821e77005b1d",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.body.payload.startTime }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "outputFieldName": "dia-inicio",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -64,
        576
      ],
      "id": "52beb87d-fe99-43f0-8cc6-f4821bf60d4d",
      "name": "Formatear fecha inicio"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Webhook').item.json.body.payload.endTime }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "outputFieldName": "dia-fin",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        128,
        576
      ],
      "id": "928b13d4-474f-43c6-aea8-3f73db758bb9",
      "name": "Formatear fecha fin"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $('Webhook').item.json.body.payload.startTime }}",
        "part": "hour",
        "outputFieldName": "hora-inicio",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        352,
        576
      ],
      "id": "c6934480-af11-4dd2-90c9-09133f1a3a9f",
      "name": "Extraer Hora inicio"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $('Webhook').item.json.body.endTime }}",
        "part": "hour",
        "outputFieldName": "hora-fin",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        544,
        576
      ],
      "id": "32850ffa-f274-4d8d-b4f8-a24ba7fa398c",
      "name": "Extraer Hora fin"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $('Webhook').item.json.body.endTime }}",
        "part": "minute",
        "outputFieldName": "minutos-fin",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -208,
        960
      ],
      "id": "b63c9405-ba2d-4d92-9ff0-1db0c1c48b08",
      "name": "Extraer Minutos fin"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $('Webhook').item.json.body.payload.startTime }}",
        "part": "minute",
        "outputFieldName": "minutos-inicio",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        832,
        576
      ],
      "id": "796f2c34-3604-4094-9923-3868d36357bb",
      "name": "Extraer Minutos inicio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15843c69-1bee-4564-9ce6-bbb268979bdc",
              "name": "nombre",
              "value": "={{ $('Webhook').item.json.body.payload.attendees[0].name }}",
              "type": "string"
            },
            {
              "id": "1bf8b9ed-ff1e-4ba6-9007-c36e515cde97",
              "name": "email",
              "value": "={{ $('Webhook').item.json.body.payload.attendees[0].email }}",
              "type": "string"
            },
            {
              "id": "25beb6cb-fa5e-458d-93b0-1291703739e8",
              "name": "telefono",
              "value": "={{ $('Webhook').item.json.body.payload.attendees[0].phoneNumber }}",
              "type": "string"
            },
            {
              "id": "b2c4703d-3cf6-4283-92cb-7386bb757ad2",
              "name": "descripcion",
              "value": "={{ $('Webhook').item.json.body.payload.responses.notes.value }}",
              "type": "string"
            },
            {
              "id": "a10cacc0-e03d-4b9f-9120-975192033393",
              "name": "dia-inicio",
              "value": "={{ $('Formatear fecha inicio').item.json['dia-inicio'] }}",
              "type": "string"
            },
            {
              "id": "eaffa417-30e7-42ff-95d5-17208a489400",
              "name": "hora-inicio",
              "value": "={{ $('Extraer Hora inicio').item.json['hora-inicio'] }}:{{ $('formatear-minuto-inicio').item.json['minuto-inicio-formateado'] }}",
              "type": "string"
            },
            {
              "id": "31eb3482-6774-4ef2-b59b-8701593110ee",
              "name": "dia-fin",
              "value": "={{ $('Formatear fecha fin').item.json['dia-fin'] }}",
              "type": "string"
            },
            {
              "id": "c32dba4a-5a69-4585-989e-bd2ebe3b44f9",
              "name": "hora-fin",
              "value": "={{ $('Extraer Hora fin').item.json['hora-fin'] }}:{{ $json['minuto-fin-final'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        976
      ],
      "id": "87d01330-6415-4b71-86bc-0507cef55dc6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c628f8e1-5e38-4340-b23f-9830b279349b",
              "name": "minutos-inicio",
              "value": "=00",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        496
      ],
      "id": "7c800da8-13e8-4296-b77c-3115c6daa2fa",
      "name": "Agregar cero minutos inicio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c628f8e1-5e38-4340-b23f-9830b279349b",
              "name": "minutos-fin",
              "value": "=00",
              "type": "string"
            },
            {
              "id": "0107cdf3-0994-4355-bfd6-a037f7f80839",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        848
      ],
      "id": "eae7d295-c8a3-4912-a52b-d4502ef59f79",
      "name": "Agregar cero minutos fin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e2fc2af-58c8-40cb-9a7e-630e8d2c1ec7",
              "leftValue": "={{ $('Extraer Minutos inicio').item.json['minutos-inicio'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        576
      ],
      "id": "76be29f9-5735-4d4d-b4cf-cb4465e00300",
      "name": "Validar si minutos inicio esta completo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e2fc2af-58c8-40cb-9a7e-630e8d2c1ec7",
              "leftValue": "={{ $('Extraer Minutos fin').item.json['minutos-fin'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        960
      ],
      "id": "53b822a4-a3f3-470a-ba3e-fd19c05fdd64",
      "name": "Validar si minutos fin esta completo"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Cita: {{ $json['Descripcion de la Cita'] }} de {{ $json.Nombre }}",
        "message": "=<!doctype html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n  <title>Confirmación de cita</title>\n  <style>\n    /* Reset básico */\n    body { margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\n    table { border-spacing:0; }\n    img { border:0; display:block; }\n    a { color:inherit; text-decoration:none; }\n\n    /* Contenedor */\n    .email-bg { background-color:#f4f6f8; width:100%; padding:20px 0; }\n    .container { width:100%; max-width:640px; margin:0 auto; }\n\n    /* Card */\n    .card { background:#ffffff; border-radius:8px; overflow:hidden; box-shadow:0 6px 18px rgba(0,0,0,0.06); }\n    .header { padding:24px; text-align:center; background:linear-gradient(90deg,#0f172a,#0b63a7); color:#fff; }\n    .logo { font-weight:700; font-size:20px; letter-spacing:0.4px; }\n    .body { padding:28px; color:#0f172a; font-family:Helvetica, Arial, sans-serif; font-size:16px; line-height:1.5; }\n    .greeting { font-size:18px; margin-bottom:12px; font-weight:600; }\n    .paragraph { margin:0 0 16px 0; color:#243142; }\n    .meta { background:#f7fafc; border:1px solid #eef2f6; padding:12px 14px; border-radius:6px; color:#1f2d3d; font-size:15px; }\n    .meta p { margin:6px 0; }\n    .cta { display:inline-block; margin-top:18px; background:#0b63a7; color:#ffffff; padding:12px 18px; border-radius:6px; font-weight:600; }\n    .footer { padding:18px; text-align:center; font-size:13px; color:#6b7280; }\n    .small { font-size:13px; color:#6b7280; }\n\n    /* Responsive */\n    @media only screen and (max-width:420px) {\n      .body { padding:20px; font-size:15px; }\n      .header { padding:18px; }\n    }\n  </style>\n</head>\n<body style=\"background:#f4f6f8;\">\n  <table class=\"email-bg\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\">\n    <tr>\n      <td align=\"center\">\n        <table class=\"container\" width=\"640\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\">\n          <tr>\n            <td class=\"card\" align=\"left\">\n\n              <!-- Header -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\">\n                <tr>\n                  <td class=\"header\">\n                    <div class=\"logo\">Nombre de la Empresa</div>\n                    <div style=\"font-size:13px; opacity:0.95; margin-top:6px;\">Confirmación de cita</div>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Body -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\">\n                <tr>\n                  <td class=\"body\">\n\n                    <div class=\"greeting\">Hola {{ $json.Nombre }},</div>\n\n                    <p class=\"paragraph\">\n                      Gracias por agendar con nosotros. A continuación te dejamos los detalles de tu cita:\n                    </p>\n\n                    <div class=\"meta\" role=\"article\" aria-label=\"Detalles de la cita\">\n                      <p><strong>Inicio:</strong> {{ $json['Dia Inicio Cita'] }} a las {{ $json['Hora Inicio Cita'] }}</p>\n                      <p><strong>Fin:</strong> {{ $json['Dia Fin Cita'] }} a las {{ $json['Hora Fin Cita'] }}</p>\n                    </div>\n\n                    <p class=\"paragraph\">\n                      En caso de reprogramar o cancelar la cita, por favor hacelo con al menos <strong>una hora de antelación</strong>.\n                    </p>\n\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Footer -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\">\n                <tr>\n                  <td class=\"footer\">\n                    <div>Empresa · AV Siempre Viva 123 · Tel: +54 9 11 1234-5678</div>\n                    <div style=\"margin-top:6px; font-size:12px; color:#9aa4b2;\">\n                      Este correo fue enviado automáticamente. Por favor no responder a esta dirección.\n                    </div>\n                  </td>\n                </tr>\n              </table>\n\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1568,
        976
      ],
      "id": "548c7adf-3e1f-4d11-950b-abab7bcb9917",
      "name": "Enviar mail",
      "webhookId": "224d08c5-ce39-4de9-b8ed-ced6e987d2f5"
    },
    {
      "parameters": {
        "content": "## Webhook de Cal\n\nCOnfiguramos un webhook para recibir datos de Cal escuchando el evento \"Booking_created\"",
        "height": 368,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        368
      ],
      "typeVersion": 1,
      "id": "ffc51ddd-af7a-49f3-8aa6-413013fe9840",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Formateamos la fecha de inicio y de fin de la cita\n\nA un formato más legible",
        "height": 368,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        368
      ],
      "typeVersion": 1,
      "id": "3223311c-0e3d-453a-bfa8-1e226c789db3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Extraemos la hora de inicio y la hora de fin de la reunion\n\n",
        "height": 368,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        368
      ],
      "typeVersion": 1,
      "id": "1ac79d99-aa40-4794-8be2-1f90eaab1f23",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c628f8e1-5e38-4340-b23f-9830b279349b",
              "name": "minuto-inicio-formateado",
              "value": "={{ $json['minutos-inicio'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        592
      ],
      "id": "1145424d-4b60-4089-b972-166becc960d0",
      "name": "formatear-minuto-inicio"
    },
    {
      "parameters": {
        "content": "## Extraemos los minutos de la hora de inicio\n\n",
        "height": 368,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        368
      ],
      "typeVersion": 1,
      "id": "6963e85f-2669-470f-93bd-6af3c8a8409a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Agregamos un cero extra si es necesario\n\nSi los minutos son menores que 10, tendran un solo digito, lo cual rompe con el formato de minutos, por eso debemos agregarle un cero si los minutos por ejemplo es 0, pasaria a ser 00.\n\n",
        "height": 368,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        368
      ],
      "typeVersion": 1,
      "id": "c8ec7f15-de47-444e-90ec-a8952b48bf40",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Extraemos los minutos de la hora de fin\n",
        "height": 368,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        752
      ],
      "typeVersion": 1,
      "id": "b399bd38-8787-4a1c-9b6b-834643a9afa6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Agregamos un cero extra si es necesario\n\nHacemos lo mismo que hicimos con los minutos de la hora de inicio, pero con los minutos de la hora de fin de la reunion\n\n",
        "height": 368,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        752
      ],
      "typeVersion": 1,
      "id": "d85e2502-bb41-49aa-b39d-2af849169cf2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Preparamos todos los datos para agregar en el Gooogle Sheets\n",
        "height": 368,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        752
      ],
      "typeVersion": 1,
      "id": "3f30e14b-150b-4b10-b47f-4f4184b70015",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Agregamos la fila con la informacion de la reunion y enviamos el mail de confirmación\n",
        "height": 368,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        752
      ],
      "typeVersion": 1,
      "id": "c0c744a6-4a56-4340-b66d-02c3ed91c465",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "676cf92b-faa2-4b88-b1bb-c00ed8db492c",
              "name": "minuto-fin-final",
              "value": "={{ $json['minutos-fin'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        976
      ],
      "id": "75771503-dc84-4760-9d02-863cf79c5abc",
      "name": "formatear-minuto-final"
    },
    {
      "parameters": {
        "content": "## Hoja de Google Sheets\n\n[Hoja de Google Sheets](https://docs.google.com/spreadsheets/d/1MXk25nlIbaN0mD2mPRcXD6ANsuIlj6sJ96dqk2siIPE/copy)",
        "height": 368,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        -32
      ],
      "typeVersion": 1,
      "id": "177295a7-e87b-485d-864d-07b4c62df4e3",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Idea del Flujo\n\nEste flujo recibe datos de citas creadas cuando una persona agenda una cita en [Cal](https://app.cal.com/). \nLugeo ponemos los datos de la reserva en un Google sheets y enviamos un mail de confirmación a la persona",
        "height": 368,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        -32
      ],
      "typeVersion": 1,
      "id": "d50082cc-5241-4166-9c97-d3d389a97aa4",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "",
        "height": 1216,
        "width": 2336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -64
      ],
      "typeVersion": 1,
      "id": "b1ba8b51-efde-4531-b595-15cd4a59d7a8",
      "name": "Sticky Note11"
    }
  ],
  "pinData": {},
  "connections": {
    "Validar si minutos inicio esta completo": {
      "main": [
        [
          {
            "node": "Agregar cero minutos inicio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formatear-minuto-inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "minuto final fin": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "minuto final inicio": {
      "main": [
        [
          {
            "node": "Extraer Minutos fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Formatear fecha inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear fecha inicio": {
      "main": [
        [
          {
            "node": "Formatear fecha fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear fecha fin": {
      "main": [
        [
          {
            "node": "Extraer Hora inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Hora inicio": {
      "main": [
        [
          {
            "node": "Extraer Hora fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Hora fin": {
      "main": [
        [
          {
            "node": "Extraer Minutos inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Minutos inicio": {
      "main": [
        [
          {
            "node": "Validar si minutos inicio esta completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Minutos fin": {
      "main": [
        [
          {
            "node": "Validar si minutos fin esta completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar cero minutos inicio": {
      "main": [
        [
          {
            "node": "formatear-minuto-inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar cero minutos fin": {
      "main": [
        [
          {
            "node": "formatear-minuto-final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar si minutos fin esta completo": {
      "main": [
        [
          {
            "node": "Agregar cero minutos fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formatear-minuto-final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Enviar mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-minuto-inicio": {
      "main": [
        [
          {
            "node": "Extraer Minutos fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-minuto-final": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "172fe1c0-a748-4cb7-ab07-59b65b04812d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dcc74d053526a97413ae651f954290cf4af9e7ccb6218b502650d605743b4dfc"
  },
  "id": "68RrAswZ8jkp94nH",
  "tags": []
}