04-Appointment-management/appointment-management-with-cal.json
{
  "name": "appointment-management-with-cal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agendar-cita",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        192,
        608
      ],
      "id": "19c29db8-bb87-4943-ba76-b5b6d3d03d20",
      "name": "Webhook",
      "webhookId": "3464d69f-88f2-4fd9-a3b4-2ce5d4ac3634"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-F3VU8W3O6-i4LvtQkIgyzdNwy11wwgYsa9jB06bBPU",
          "mode": "list",
          "cachedResultName": "Copia de control-citas-cal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-F3VU8W3O6-i4LvtQkIgyzdNwy11wwgYsa9jB06bBPU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-F3VU8W3O6-i4LvtQkIgyzdNwy11wwgYsa9jB06bBPU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.nombre }}",
            "Email": "={{ $json.email }}",
            "Telefono": "={{ $json.telefono }}",
            "Descripcion de la Cita": "={{ $json.descripcion }}",
            "Dia Inicio Cita": "={{ $json['dia-inicio'] }}",
            "Hora Inicio Cita": "={{ $json['hora-inicio'] }}",
            "Dia Fin Cita": "={{ $json['dia-fin'] }}",
            "Hora Fin Cita": "={{ $json['hora-fin'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripcion de la Cita",
              "displayName": "Descripcion de la Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dia Inicio Cita",
              "displayName": "Dia Inicio Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora Inicio Cita",
              "displayName": "Hora Inicio Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dia Fin Cita",
              "displayName": "Dia Fin Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora Fin Cita",
              "displayName": "Hora Fin Cita",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1856,
        1008
      ],
      "id": "0c2be1ba-c20e-4253-9746-11904daf2b31",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "T3ielGGWuf8tSxZL",
          "name": "claseia"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.body.payload.startTime }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "outputFieldName": "dia-inicio",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        480,
        608
      ],
      "id": "d220cdcb-776d-4cd2-acaa-a25d5f8abc21",
      "name": "Formatear fecha inicio"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Webhook').item.json.body.payload.endTime }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "outputFieldName": "dia-fin",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        672,
        608
      ],
      "id": "3ea5e711-2457-47ce-902e-d4e2ee66b41d",
      "name": "Formatear fecha fin"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $('Webhook').item.json.body.payload.startTime }}",
        "part": "hour",
        "outputFieldName": "hora-inicio",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        896,
        608
      ],
      "id": "db96a2aa-4002-459f-8c36-d237a78cb9f3",
      "name": "Extraer Hora inicio"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $('Webhook').item.json.body.payload.endTime }}",
        "part": "hour",
        "outputFieldName": "hora-fin",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1088,
        608
      ],
      "id": "788b645f-e3fa-4487-980a-0af898b6ec45",
      "name": "Extraer Hora fin"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $('Webhook').item.json.body.payload.endTime }}",
        "part": "minute",
        "outputFieldName": "minutos-fin",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        336,
        992
      ],
      "id": "be98a4fb-f18c-46a8-be46-442d7d6c5494",
      "name": "Extraer Minutos fin"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $('Webhook').item.json.body.payload.startTime }}",
        "part": "minute",
        "outputFieldName": "minutos-inicio",
        "options": {
          "includeInputFields": false
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1376,
        608
      ],
      "id": "03e6da24-b6cc-41c2-b378-a8504a2d15cd",
      "name": "Extraer Minutos inicio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "15843c69-1bee-4564-9ce6-bbb268979bdc",
              "name": "nombre",
              "value": "={{ $('Webhook').item.json.body.payload.attendees[0].name }}",
              "type": "string"
            },
            {
              "id": "1bf8b9ed-ff1e-4ba6-9007-c36e515cde97",
              "name": "email",
              "value": "={{ $('Webhook').item.json.body.payload.attendees[0].email }}",
              "type": "string"
            },
            {
              "id": "25beb6cb-fa5e-458d-93b0-1291703739e8",
              "name": "telefono",
              "value": "={{ $('Webhook').item.json.body.payload.attendees[0].phoneNumber }}",
              "type": "string"
            },
            {
              "id": "b2c4703d-3cf6-4283-92cb-7386bb757ad2",
              "name": "descripcion",
              "value": "={{ $('Webhook').item.json.body.payload.responses.notes.value }}",
              "type": "string"
            },
            {
              "id": "a10cacc0-e03d-4b9f-9120-975192033393",
              "name": "dia-inicio",
              "value": "={{ $('Formatear fecha inicio').item.json['dia-inicio'] }}",
              "type": "string"
            },
            {
              "id": "eaffa417-30e7-42ff-95d5-17208a489400",
              "name": "hora-inicio",
              "value": "={{ $('Extraer Hora inicio').item.json['hora-inicio'] }}:{{ $('formatear-minuto-inicio').item.json['minuto-inicio-formateado'] }}",
              "type": "string"
            },
            {
              "id": "31eb3482-6774-4ef2-b59b-8701593110ee",
              "name": "dia-fin",
              "value": "={{ $('Formatear fecha fin').item.json['dia-fin'] }}",
              "type": "string"
            },
            {
              "id": "c32dba4a-5a69-4585-989e-bd2ebe3b44f9",
              "name": "hora-fin",
              "value": "={{ $('Extraer Hora fin').item.json['hora-fin'] }}:{{ $json['minuto-fin-final'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        1008
      ],
      "id": "78e4e537-0569-455d-88da-14a46b5f8482",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c628f8e1-5e38-4340-b23f-9830b279349b",
              "name": "minutos-inicio",
              "value": "=00",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        528
      ],
      "id": "f6284114-3627-4116-b444-9a4a8a84303b",
      "name": "Agregar cero minutos inicio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c628f8e1-5e38-4340-b23f-9830b279349b",
              "name": "minutos-fin",
              "value": "=00",
              "type": "string"
            },
            {
              "id": "0107cdf3-0994-4355-bfd6-a037f7f80839",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        880
      ],
      "id": "b8452995-1b8c-4fb2-bfe6-69e17523a16b",
      "name": "Agregar cero minutos fin"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e2fc2af-58c8-40cb-9a7e-630e8d2c1ec7",
              "leftValue": "={{ $('Extraer Minutos inicio').item.json['minutos-inicio'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        608
      ],
      "id": "9c8f46f5-f564-4c2b-b322-9b8804b77690",
      "name": "Validar si minutos inicio esta completo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e2fc2af-58c8-40cb-9a7e-630e8d2c1ec7",
              "leftValue": "={{ $('Extraer Minutos fin').item.json['minutos-fin'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        992
      ],
      "id": "79ead43e-9139-4945-9558-fdfbeae2640f",
      "name": "Validar si minutos fin esta completo"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Cita: {{ $json['Descripcion de la Cita'] }} de {{ $json.Nombre }}",
        "message": "=<!doctype html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n  <title>Confirmación de cita</title>\n  <style>\n    /* Reset básico */\n    body { margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }\n    table { border-spacing:0; }\n    img { border:0; display:block; }\n    a { color:inherit; text-decoration:none; }\n\n    /* Contenedor */\n    .email-bg { background-color:#f4f6f8; width:100%; padding:20px 0; }\n    .container { width:100%; max-width:640px; margin:0 auto; }\n\n    /* Card */\n    .card { background:#ffffff; border-radius:8px; overflow:hidden; box-shadow:0 6px 18px rgba(0,0,0,0.06); }\n    .header { padding:24px; text-align:center; background:linear-gradient(90deg,#0f172a,#0b63a7); color:#fff; }\n    .logo { font-weight:700; font-size:20px; letter-spacing:0.4px; }\n    .body { padding:28px; color:#0f172a; font-family:Helvetica, Arial, sans-serif; font-size:16px; line-height:1.5; }\n    .greeting { font-size:18px; margin-bottom:12px; font-weight:600; }\n    .paragraph { margin:0 0 16px 0; color:#243142; }\n    .meta { background:#f7fafc; border:1px solid #eef2f6; padding:12px 14px; border-radius:6px; color:#1f2d3d; font-size:15px; }\n    .meta p { margin:6px 0; }\n    .cta { display:inline-block; margin-top:18px; background:#0b63a7; color:#ffffff; padding:12px 18px; border-radius:6px; font-weight:600; }\n    .footer { padding:18px; text-align:center; font-size:13px; color:#6b7280; }\n    .small { font-size:13px; color:#6b7280; }\n\n    /* Responsive */\n    @media only screen and (max-width:420px) {\n      .body { padding:20px; font-size:15px; }\n      .header { padding:18px; }\n    }\n  </style>\n</head>\n<body style=\"background:#f4f6f8;\">\n  <table class=\"email-bg\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\">\n    <tr>\n      <td align=\"center\">\n        <table class=\"container\" width=\"640\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\">\n          <tr>\n            <td class=\"card\" align=\"left\">\n\n              <!-- Header -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\">\n                <tr>\n                  <td class=\"header\">\n                    <div class=\"logo\">Nombre de la Empresa</div>\n                    <div style=\"font-size:13px; opacity:0.95; margin-top:6px;\">Confirmación de cita</div>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Body -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\">\n                <tr>\n                  <td class=\"body\">\n\n                    <div class=\"greeting\">Hola {{ $json.Nombre }},</div>\n\n                    <p class=\"paragraph\">\n                      Gracias por agendar con nosotros. A continuación te dejamos los detalles de tu cita:\n                    </p>\n\n                    <div class=\"meta\" role=\"article\" aria-label=\"Detalles de la cita\">\n                      <p><strong>Inicio:</strong> {{ $json['Dia Inicio Cita'] }} a las {{ $json['Hora Inicio Cita'] }}</p>\n                      <p><strong>Fin:</strong> {{ $json['Dia Fin Cita'] }} a las {{ $json['Hora Fin Cita'] }}</p>\n                    </div>\n\n                    <p class=\"paragraph\">\n                      En caso de reprogramar o cancelar la cita, por favor hacelo con al menos <strong>una hora de antelación</strong>.\n                    </p>\n\n                  </td>\n                </tr>\n              </table>\n\n              <!-- Footer -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\">\n                <tr>\n                  <td class=\"footer\">\n                    <div>Empresa · AV Siempre Viva 123 · Tel: +54 9 11 1234-5678</div>\n                    <div style=\"margin-top:6px; font-size:12px; color:#9aa4b2;\">\n                      Este correo fue enviado automáticamente. Por favor no responder a esta dirección.\n                    </div>\n                  </td>\n                </tr>\n              </table>\n\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2112,
        1008
      ],
      "id": "0d3bc43f-201d-42ff-bf88-20e5f3f7ad7f",
      "name": "Enviar mail",
      "webhookId": "224d08c5-ce39-4de9-b8ed-ced6e987d2f5",
      "credentials": {
        "gmailOAuth2": {
          "id": "efEFpE06ocHcS7yt",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Webhook de Cal\n\nCOnfiguramos un webhook para recibir datos de Cal escuchando el evento \"Booking_created\"",
        "height": 368,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        400
      ],
      "typeVersion": 1,
      "id": "04276dbb-9431-46b3-a2bb-db3d367cb443",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Formateamos la fecha de inicio y de fin de la cita\n\nA un formato más legible",
        "height": 368,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        400
      ],
      "typeVersion": 1,
      "id": "2330c6f0-3e58-4c13-a15b-64cf56d2ca21",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Extraemos la hora de inicio y la hora de fin de la reunion\n\n",
        "height": 368,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        864,
        400
      ],
      "typeVersion": 1,
      "id": "670d20d5-0526-4fe7-884c-7c6e32920457",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c628f8e1-5e38-4340-b23f-9830b279349b",
              "name": "minuto-inicio-formateado",
              "value": "={{ $json['minutos-inicio'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        624
      ],
      "id": "153471aa-8925-4cec-8e84-a16dce6abc53",
      "name": "formatear-minuto-inicio"
    },
    {
      "parameters": {
        "content": "## Extraemos los minutos de la hora de inicio\n\n",
        "height": 368,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        400
      ],
      "typeVersion": 1,
      "id": "5ecb47e7-b813-416c-8236-da96e237e675",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Agregamos un cero extra si es necesario\n\nSi los minutos son menores que 10, tendran un solo digito, lo cual rompe con el formato de minutos, por eso debemos agregarle un cero si los minutos por ejemplo es 0, pasaria a ser 00.\n\n",
        "height": 368,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        400
      ],
      "typeVersion": 1,
      "id": "ea19a730-faae-4967-b849-9c6d0eabfc8a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Extraemos los minutos de la hora de fin\n",
        "height": 368,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        784
      ],
      "typeVersion": 1,
      "id": "b250a9d6-3e17-49f8-b80e-512fb78aa4f5",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Agregamos un cero extra si es necesario\n\nHacemos lo mismo que hicimos con los minutos de la hora de inicio, pero con los minutos de la hora de fin de la reunion\n\n",
        "height": 368,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        784
      ],
      "typeVersion": 1,
      "id": "02e0215d-9c49-46cc-a066-d4dd17fe8eb7",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Preparamos todos los datos para agregar en el Gooogle Sheets\n",
        "height": 368,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        784
      ],
      "typeVersion": 1,
      "id": "a5e21457-265b-41ed-9f1e-662e659637fe",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Agregamos la fila con la informacion de la reunion y enviamos el mail de confirmación\n",
        "height": 368,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        784
      ],
      "typeVersion": 1,
      "id": "0a501a45-312e-4ae6-aba1-d1c3cb6244dc",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "676cf92b-faa2-4b88-b1bb-c00ed8db492c",
              "name": "minuto-fin-final",
              "value": "={{ $json['minutos-fin'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        1008
      ],
      "id": "f5d03c87-2a35-4ae8-a8fa-9418f82e4a9c",
      "name": "formatear-minuto-final"
    },
    {
      "parameters": {
        "content": "## Hoja de Google Sheets\n\n[Hoja de Google Sheets](https://docs.google.com/spreadsheets/d/1MXk25nlIbaN0mD2mPRcXD6ANsuIlj6sJ96dqk2siIPE/copy)",
        "height": 368,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        0
      ],
      "typeVersion": 1,
      "id": "310b741e-5b04-4eff-8964-7a5fb713ba15",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Idea del Flujo\n\nEste flujo recibe datos de citas creadas cuando una persona agenda una cita en [Cal](https://app.cal.com/). \nLugeo ponemos los datos de la reserva en un Google sheets y enviamos un mail de confirmación a la persona",
        "height": 368,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        0
      ],
      "typeVersion": 1,
      "id": "ab89ecc3-4033-43d1-9f0b-b0d5c0a742fb",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "",
        "height": 1216,
        "width": 2336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -32
      ],
      "typeVersion": 1,
      "id": "e44fd79d-9c53-4769-b0e2-b8428aa6a038",
      "name": "Sticky Note11"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n8n8n8n8n8n8n.app.n8n.cloud",
            "user-agent": "node",
            "content-length": "3363",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "baggage": "sentry-environment=vercel-production,sentry-public_key=7fa2ea46dede9404597bde582525baca,sentry-trace_id=9a71cf0381bc45e0ae9385f34563ccaa,sentry-org_id=574544,sentry-sampled=false,sentry-sample_rand=0.08979409526026638,sentry-sample_rate=0",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "3.22.242.197",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9d6d4a965ec322ce-CMH",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "sentry-trace": "9a71cf0381bc45e0ae9385f34563ccaa-02ab1e020fb0ad78-0",
            "x-cal-signature-256": "no-secret-provided",
            "x-cal-webhook-version": "2021-10-20",
            "x-forwarded-for": "3.22.242.197, 104.23.243.11",
            "x-forwarded-host": "n8n8n8n8n8n8n8n.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-1-d467f55bf-gvgqf",
            "x-invocation-id": "gru1:gru1::tn9h9-1772589666478-a296ce928548",
            "x-is-trusted": "yes",
            "x-real-ip": "3.22.242.197",
            "x-vercel-id": "gru1:gru1::tn9h9-1772589666478-a296ce928548"
          },
          "params": {},
          "query": {},
          "body": {
            "triggerEvent": "BOOKING_CREATED",
            "createdAt": "2026-03-04T02:01:08.796Z",
            "payload": {
              "bookerUrl": "https://cal.com",
              "title": "Reunión de 30 min between clase1iatecno and clase1iatecno",
              "startTime": "2026-03-16T12:00:00Z",
              "endTime": "2026-03-16T12:30:00Z",
              "additionalNotes": "asas",
              "type": "30min",
              "description": "Reunion",
              "eventTypeId": 3752479,
              "hideCalendarNotes": false,
              "hideCalendarEventDetails": false,
              "hideOrganizerEmail": false,
              "schedulingType": null,
              "seatsPerTimeSlot": null,
              "seatsShowAttendees": true,
              "seatsShowAvailabilityCount": true,
              "customReplyToEmail": null,
              "disableRescheduling": false,
              "disableCancelling": false,
              "organizer": {
                "id": 1872346,
                "name": "clase1iatecno",
                "email": "claseiatecno@gmail.com",
                "username": "clase1iatecno",
                "timeZone": "America/Buenos_Aires",
                "language": {
                  "locale": "en"
                },
                "timeFormat": "h:mma",
                "utcOffset": -180
              },
              "attendees": [
                {
                  "email": "claseiatecno@gmail.com",
                  "name": "clase1iatecno",
                  "phoneNumber": "+541167986294",
                  "firstName": "",
                  "lastName": "",
                  "timeZone": "America/Buenos_Aires",
                  "language": {
                    "locale": "es-419"
                  },
                  "utcOffset": -180
                }
              ],
              "customInputs": {},
              "responses": {
                "name": {
                  "label": "your_name",
                  "value": "clase1iatecno",
                  "isHidden": false
                },
                "email": {
                  "label": "email_address",
                  "value": "claseiatecno@gmail.com",
                  "isHidden": false
                },
                "attendeePhoneNumber": {
                  "label": "phone_number",
                  "value": "+541167986294",
                  "isHidden": false
                },
                "location": {
                  "label": "location",
                  "value": {
                    "optionValue": "",
                    "value": "integrations:daily"
                  },
                  "isHidden": false
                },
                "title": {
                  "label": "what_is_this_meeting_about",
                  "isHidden": true
                },
                "notes": {
                  "label": "additional_notes",
                  "value": "asas",
                  "isHidden": false
                },
                "guests": {
                  "label": "additional_guests",
                  "value": [],
                  "isHidden": false
                },
                "rescheduleReason": {
                  "label": "reason_for_reschedule",
                  "isHidden": false
                },
                "dir": {
                  "label": "Direccion",
                  "value": "Avellaneda",
                  "isHidden": false
                }
              },
              "userFieldsResponses": {
                "dir": {
                  "label": "Direccion",
                  "value": "Avellaneda",
                  "isHidden": false
                }
              },
              "location": "https://app.cal.com/video/h9JjZq3yNqbEJ3PKpnBGCU",
              "destinationCalendar": [
                {
                  "id": 915981,
                  "integration": "google_calendar",
                  "externalId": "claseiatecno@gmail.com",
                  "primaryEmail": "claseiatecno@gmail.com",
                  "userId": 1872346,
                  "eventTypeId": null,
                  "credentialId": 1460817,
                  "createdAt": "2025-10-27T15:31:44.791Z",
                  "updatedAt": "2025-10-27T15:32:43.961Z",
                  "delegationCredentialId": null,
                  "domainWideDelegationCredentialId": null,
                  "customCalendarReminder": null
                }
              ],
              "iCalUID": "h9JjZq3yNqbEJ3PKpnBGCU@Cal.com",
              "iCalSequence": 0,
              "requiresConfirmation": false,
              "oneTimePassword": null,
              "hashedLink": null,
              "hideBranding": false,
              "uid": "h9JjZq3yNqbEJ3PKpnBGCU",
              "conferenceData": {
                "createRequest": {
                  "requestId": "2db644eb-37a5-581a-99fa-ebe6ce513834"
                }
              },
              "videoCallData": {
                "type": "daily_video",
                "id": "VYlxwFGaMrFsBFT6TKWE",
                "password": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyIjoiVllseHdGR2FNckZzQkZUNlRLV0UiLCJleHAiOjE3NzQ4NzM4MDAsIm8iOnRydWUsImVydWkiOmZhbHNlLCJkIjoiYmJkOThhNzEtMTljOS00YmIxLWE1YzUtY2FmMWVjNWJkMTA1IiwiaWF0IjoxNzcyNTg5NjY3fQ.a4TdtZepMKdiH-B49nQ45sIc2iNhFdDC7UEqh_WKQmc",
                "url": "https://meetco.daily.co/VYlxwFGaMrFsBFT6TKWE"
              },
              "appsStatus": [
                {
                  "appName": "Cal Video",
                  "type": "daily_video",
                  "success": 1,
                  "failures": 0,
                  "errors": []
                },
                {
                  "appName": "Google Calendar",
                  "type": "google_calendar",
                  "success": 1,
                  "failures": 0,
                  "errors": [],
                  "warnings": []
                }
              ],
              "eventTitle": "Reunión de 30 min",
              "eventDescription": "Reunion",
              "price": 0,
              "currency": "usd",
              "length": 30,
              "bookingId": 16616861,
              "metadata": {
                "videoCallUrl": "https://app.cal.com/video/h9JjZq3yNqbEJ3PKpnBGCU"
              },
              "status": "ACCEPTED"
            }
          },
          "webhookUrl": "https://n8n8n8n8n8n8n8n.app.n8n.cloud/webhook-test/agendar-cita",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Validar si minutos inicio esta completo": {
      "main": [
        [
          {
            "node": "Agregar cero minutos inicio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formatear-minuto-inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Formatear fecha inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear fecha inicio": {
      "main": [
        [
          {
            "node": "Formatear fecha fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear fecha fin": {
      "main": [
        [
          {
            "node": "Extraer Hora inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Hora inicio": {
      "main": [
        [
          {
            "node": "Extraer Hora fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Hora fin": {
      "main": [
        [
          {
            "node": "Extraer Minutos inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Minutos inicio": {
      "main": [
        [
          {
            "node": "Validar si minutos inicio esta completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Minutos fin": {
      "main": [
        [
          {
            "node": "Validar si minutos fin esta completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar cero minutos inicio": {
      "main": [
        [
          {
            "node": "formatear-minuto-inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agregar cero minutos fin": {
      "main": [
        [
          {
            "node": "formatear-minuto-final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar si minutos fin esta completo": {
      "main": [
        [
          {
            "node": "Agregar cero minutos fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "formatear-minuto-final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Enviar mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-minuto-inicio": {
      "main": [
        [
          {
            "node": "Extraer Minutos fin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-minuto-final": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "98ce61d9-1f63-4174-9efb-5edb65d2830a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbb5b56ce897493cb24d584807d56146e5aa2d091cb66de9f804805f8f062e1d"
  },
  "id": "XlxiGqinJcauRLfO",
  "tags": []
}