05-emails-classifier/emails-classfier-ai.json
{
  "name": "clasificador-de-etiquetas-basico-pro",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=rem: {{ $json.from.value[0].address }}\nsub: {{ $json.subject }}\ncorreo: {{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Analiza el remitente, asunto y correo que te pase el usuario; y extrae la información en formato JSON estricto.\n\nCategorías permitidas para 'etiqueta':\n- leads (Posibles clientes, preguntas de precios)\n- facturacion (Recibos, pagos, bancos)\n- soporte (Problemas técnicos, quejas)\n- newsletter (Boletines, info general)\n- otros (Resto)\n\nOutput JSON esperado:\n{\n  \"etiqueta\": \"string (una de las categorías)\",\n  \"confianza\": number (0-1),\n  \"resumen\": \"string (max 10 palabras)\",\n  \"urgencia\": \"string (Alta/Media/Baja)\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1392,
        784
      ],
      "id": "90f93b58-007f-41ce-948f-2f0081485aad",
      "name": "Clasificador de mails"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "includeSpamTrash": false,
          "q": "is:important",
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "954c554d-e386-43f5-9105-ae65300bc84a",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.1,
      "position": [
        -1616,
        784
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "q9zkZ6IzjfYVjUFF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -384,
        784
      ],
      "id": "0a0a6e55-1e6c-4520-a3e0-678635e336ed",
      "name": "Macar como leido",
      "webhookId": "80e2a409-2eab-4334-9a8a-f94bf1b94bb4",
      "credentials": {
        "gmailOAuth2": {
          "id": "q9zkZ6IzjfYVjUFF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1S3YOEzs1YGmlQULTxL8bTaqey2CEZvo2h6EVJe09OG8",
          "mode": "list",
          "cachedResultName": "log-clasificador-email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S3YOEzs1YGmlQULTxL8bTaqey2CEZvo2h6EVJe09OG8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S3YOEzs1YGmlQULTxL8bTaqey2CEZvo2h6EVJe09OG8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Categoria Asignada": "={{ $json.etiqueta }}",
            "AI Confidence": "={{ $json.ai_confidence }}",
            "Urgencia": "={{ $json.urgencia }}",
            "Fecha": "={{ $json.fecha }}",
            "Remitente": "={{ $json.remitente }}",
            "Asunto": "={{ $json.asunto }}",
            "Resumen": "={{ $json.resumen }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remitente",
              "displayName": "Remitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asunto",
              "displayName": "Asunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resumen",
              "displayName": "Resumen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categoria Asignada",
              "displayName": "Categoria Asignada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Confidence",
              "displayName": "AI Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgencia",
              "displayName": "Urgencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        784
      ],
      "id": "e068b724-821d-452a-98f8-1b8b102db4ba",
      "name": "Log emails",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xn4QvXkQSBiIaXnM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1392,
        1008
      ],
      "id": "1183ede0-fe3a-4ab7-8e06-29b3ef106503",
      "name": "Groq Model",
      "credentials": {
        "groqApi": {
          "id": "4f5TGWArbxwNnJCE",
          "name": "classificador-email-ai"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"etiqueta\": {\n      \"type\": \"string\",\n      \"enum\": [\"leads\", \"facturacion\", \"soporte\", \"newsletter\", \"otros\"],\n      \"description\": \"La categoría principal del email según su contenido.\"\n    },\n    \"confianza\": {\n      \"type\": \"number\",\n      \"description\": \"Nivel de seguridad de la clasificación entre 0 y 1.\"\n    },\n    \"resumen\": {\n      \"type\": \"string\",\n      \"description\": \"Un resumen muy breve del correo (máximo 10 palabras).\"\n    },\n    \"urgencia\": {\n      \"type\": \"string\",\n      \"enum\": [\"Alta\", \"Media\", \"Baja\"],\n      \"description\": \"Nivel de urgencia basado en el tono del remitente.\"\n    }\n  },\n  \"required\": [\"etiqueta\", \"confianza\", \"resumen\", \"urgencia\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1232,
        1008
      ],
      "id": "84f7ea14-6a47-4247-9aa9-b8e4b5b0dc9f",
      "name": "JSON de salida"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -624,
        784
      ],
      "id": "7d7da417-2cc3-407e-9d19-57aacb81597a",
      "name": "Add label to message",
      "webhookId": "94306fa5-d49d-403a-99d4-6b956f707c67",
      "credentials": {
        "gmailOAuth2": {
          "id": "q9zkZ6IzjfYVjUFF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1040,
        784
      ],
      "id": "92898325-8f43-443c-9d9d-0a8429cb3a40",
      "name": "Get many labels",
      "webhookId": "72377f03-2c86-4e64-b2b3-451d716ff3af",
      "credentials": {
        "gmailOAuth2": {
          "id": "q9zkZ6IzjfYVjUFF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0ee8442c-1bf4-4a2a-a7d6-7de776d67c97",
              "leftValue": "={{ $('Clasificador de mails').item.json.output.etiqueta.toLowerCase() }}",
              "rightValue": "={{ $json.name.toLowerCase() }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -832,
        784
      ],
      "id": "6e3ddf92-c560-407e-83bb-00c2084ce203",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3dac5c10-6c32-4e01-91a3-6c96f2bd6a90",
              "name": "fecha",
              "value": "={{ $('Gmail Trigger').item.json.date.substring(0,10) }} {{ $('Gmail Trigger').item.json.date.substring(11,19) }}",
              "type": "string"
            },
            {
              "id": "137bd8cc-0d8b-4b94-bde2-edc917e612f1",
              "name": "remitente",
              "value": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "77ee19ce-6621-4627-9eee-3cd18f66637e",
              "name": "asunto",
              "value": "={{ $('Gmail Trigger').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "5b206854-4a05-4d42-b359-2f21a8fa41b5",
              "name": "resumen",
              "value": "={{ $('Clasificador de mails').item.json.output.resumen }}",
              "type": "string"
            },
            {
              "id": "d0aa34f7-8f22-4526-afb8-a36c1f0b8b57",
              "name": "etiqueta",
              "value": "={{ $('Clasificador de mails').item.json.output.etiqueta }}",
              "type": "string"
            },
            {
              "id": "86f94732-87af-4134-8223-5a0922f31206",
              "name": "ai_confidence",
              "value": "={{ $('Clasificador de mails').item.json.output.confianza }}",
              "type": "number"
            },
            {
              "id": "e0e6ed03-96f5-40ae-ac4b-a63613a2b12d",
              "name": "urgencia",
              "value": "={{ $('Clasificador de mails').item.json.output.urgencia }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        784
      ],
      "id": "7c5d0d1d-f3ee-4bce-9b97-3758bc760474",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Clasificador de mails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador de mails": {
      "main": [
        [
          {
            "node": "Get many labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log emails": {
      "main": [
        []
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Clasificador de mails",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON de salida": {
      "ai_outputParser": [
        [
          {
            "node": "Clasificador de mails",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Macar como leido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Macar como leido": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Log emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4decccfd-4173-4014-8430-29af80ce1b87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df951747cf7eac409ba4afc5c8a1bd0496db3642c1aaa47e4d962738307454e2"
  },
  "id": "JlIkUSpwWlwS61Om",
  "tags": []
}